# == Compile from GIT, and automatically recursively resolve any dependencies
# You need to have git installed, then just uncomment the next lines, and comments any other below
#-e git+git@github.com:numpy/numpy.git@v1.7.1#egg=numpy
#-e git+git@github.com:matplotlib/matplotlib.git@v1.2.0#egg=matplotlib
#-e git+git@github.com:pydata/pandas.git@v0.11.0#egg=pandas
#-e git+git@github.com:ipython/ipython.git@rel-0.13.2#egg=ipython


# == Compile from Pypi
# The following will NOT recursively resolve dependencies, but it will work without using Git

# Numpy
numpy==1.7.1

# Matplotlib
PIL==1.1.7
matplotlib==1.2.0

# Pandas
#python-dateutil==1.5
numexpr==2.0.1
bottleneck==0.6.0
pandas==0.11.0

# For IPython Notebook
pyzmq==13.0.0
#Sphinx>=0.3
#jinja2
tornado==2.4.1
#pygments
IPython==0.13.2
